PSN_SECRET_KEY=troque-por-uma-chave-local

SERPRO_CONSUMER_KEY=sua-consumer-key
SERPRO_CONSUMER_SECRET=seu-consumer-secret
SERPRO_CERT_PATH=secrets/serpro_certificado.pfx
SERPRO_CERT_PASSWORD=senha-do-certificado
